$border: 5px;
.Container {
    width: 45%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    position: relative;
    padding: 5px 10px;

    $border: 5px;
    background: #27ae60;
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: 1em;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient(to right, #27ae60, yellow);
    }
    &:nth-child(2n) {
        background: #e67e22;
        background-clip: padding-box;
        &:before {
           
            background: linear-gradient(to right, #e67e22, yellow);
        }
    }

    .Header  {
    }
    .Content {
        display: flex;
        justify-content: space-between;
        p{
            font-size: 1.2rem;
        }
    }
    .remove{
        z-index: 1;
        position: absolute;
        top: -10px;
        right: 10px;
        font-size: 3rem;
        cursor: pointer;
        &:hover{
            opacity: .8;
        }
    }
}
