$border: 5px;
$bgColor: #3498db;
.Container {
    background-color: $bgColor !important;
    padding: 10px 10px !important;
    &:before {
        background: linear-gradient(to right, $bgColor, yellow) !important;
    }

    .Header {
        input {
            margin-top: 10px;
            font-size: 1.5rem;
        }
    }
    .Content {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        input {
            margin-top: 2px;
            font-size: 1.1rem;
        }
    }
    input{
        &::placeholder{
            color: rgb(238, 238, 238);
        }        
    }
}
.addNewContainer {
    text-align: center;
    display: block;
    background-color: transparent;
    border: transparent;
    color: #1abc9c;
    font-size : 4rem;
    cursor: pointer;
    margin: auto;
    &:hover{
        opacity: .8;
        transform: scale(1.1);
    }
}
